@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,900;1,500&display=swap");

:root {
  --primary-color: #74b9ff;
  --secondary-color: #0984e3;
  --contrast-color: #2d3436;
  --light-color: #ffffff;
}

/* Genaral Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; 
  transition: all 0.4s;
}
body {
  font-family: "Poppins";
}
html {
  scroll-behavior:smooth;
  transition: all 0.4s;
}
.glow-border{
  border: 1px ridge var(--primary-color);
  box-shadow: 2px 2px 5px var(--primary-color);
  margin: 10px;
  transition: all 0.4s;
}
.center{
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.btn-download{
  border: 2px ridge var(--secondary-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--light-color);
  padding: 2px;
  border-radius: 20px;
  margin: 15px;
}
.btn-download a{
  color: var(--light-color);
}
.btn-download :hover{
  letter-spacing: 2px;
}
/* End Genaral Styles */

/* Header */
header {
  width: 100%;
}
/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  background-color: var(--contrast-color);
  border: 0 0 1px 0 ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color);
  height: 10vh;
  opacity: 0.8;
}
/* Logo */
.logo {
  color: #fff;
  font-size: large;
  text-transform: uppercase;
  padding-left: 25px;
}
/* End Logo */

/* Nav Link */

.link ul li {
  float: left;
  padding: 8px;
  text-decoration: none;
  padding-right: 25px;
}
.link a {
  color: var(--light-color);
  cursor: pointer;
  transition: all 0.4s;
}
.link a:hover {
  color: var(--primary-color);
  transition: all 0.4s;
  letter-spacing: 2px;

}
/* Nav Hamburger-Icon */
.ham {
  border: 0;
  background: transparent;
  color: var(--secondary-color);
  font-size: 20px;
  cursor: pointer;
  display: none;
}
/* End Nav Hamburger-Icon */
/* End Nav Link */
/* End Nav */
/* End Header */
/* Main */
/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color);
  background-color: var(--light-color);
  padding: 10% ;
}
/* Hero-Description */
.desc {
  width: 75vw;
  text-align: justify;
  padding-left: 10vw;
  font-size: 20px;
}

/* End Hero-Description */
/* Hero Image */
.code-img img {
  width: 40vw;
  
}
/* End Hero-Image */
/* End Hero */
/* Personal Summery */
.personal-summery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color);
  background-color: var(--contrast-color);
  padding: 10% ;
}
.personal-summery h1 {
  padding: 15px;
  color: var(--light-color);
}
.personal-summery ul {
  color: var(--light-color);
}
.personal-summery p {
  padding: 15px;
  transition: all 0.4s;
}
.personal-summery li:hover p{
  letter-spacing: 2px;
  background-color: var(--primary-color);
  color: var(--contrast-color);
}
.personal-summery li:hover ul{
 padding: 2px;
}

/* End Personal Summery */
/* Skills */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--light-color);
  border: 1px ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color);
  padding: 10%;
  transition: all 0.4s;
}
.skills ul {
  color: var(--contrast-color);
  transition: all 0.4s;
}
.skills h1 {
  padding: 15px;
  color: var(--contrast-color);
  transition: all 0.4s;
}
.skills h4 {
  padding: 15px;
  color: var(--secondary-color);
  transition: all 0.4s;
  text-align: center;
}

.skills h5 {
  padding: 15px;
  color: var(--contrast-color);
  transition: all 0.4s;
}

.skills p {
  padding: 15px;
  transition: all 0.4s;
}
.skills li:hover ul{
  padding: 2px;
}
.skills li:hover p{
  letter-spacing: 2px;
  color: var(--contrast-color);
  background-color: var(--primary-color);
}

/* End Skills */
/* Academic */
.academic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color);
  background-color: var(--contrast-color);
  padding: 10% ;
  transition: all 0.4s;
}
.academic h1 {
  padding: 15px;
  color: var(--light-color);
  transition: all 0.4s;
}
.academic h4 {
  padding: 15px;
  color: var(--primary-color);
  transition: all 0.4s;
  text-align: center;
}
.academic h5 {
  padding: 15px;
  color: var(--light-color);
  transition: all 0.4s;
}
.academic ul {
  color: var(--light-color);
  transition: all 0.4s;
}
.academic p {
  padding: 15px;
  transition: all 0.4s;
}
.academic li{
  transition: all 0.4s;
}
/* .academic li:hover{
  background-color: var(--primary-color);
}
.academic li:hover ul{
  padding: 2px;
}
.academic li:hover h4{
  letter-spacing: 2px;
  color: var(--light-color);
}
.academic li:hover h5{
  letter-spacing: 2px;
  color: var(--contrast-color);
}
.academic li:hover p{
  letter-spacing: 2px;
  color: var(--contrast-color);
} */

/* End Academic */
/* Work-Experience */
.work-experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color);
  background-color: var(--light-color);
  padding: 10%;
  transition: all 0.4s;
}
.work-experience h1 {
  padding: 15px;
  color: var(--contrast-color);
  transition: all 0.4s;
}
.work-experience h4 {
  padding: 15px;
  color: var(--secondary-color);
  transition: all 0.4s;
  text-align: center;
}
.work-experience h5 {
  padding: 15px;
  color: var(--contrast-color);
  transition: all 0.4s;
  text-align: center;
}
.work-experience ul {
  color: var(--contrast-color);
  transition: all 0.4s;
}
.work-experience p {
  padding: 15px;
  transition: all 0.4s;
}
/*.work-experience li:hover ul{
  padding: 2px;
}
.work-experience li:hover p{
  letter-spacing: 2px;
  color: var(--contrast-color);
  background-color: var(--primary-color);
}*/
/* End Work-Experience */
/* Extra-Curricular */
.extra-curricular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color);background-color: var(--contrast-color);
  padding: 10% ;
  transition: all 0.4s;
}
.extra-curricular h1 {
  padding: 15px;
  color: var(--light-color);
  transition: all 0.4s;
}
.extra-curricular ul {
  color: var(--light-color);
  transition: all 0.4s;
}
.extra-curricular h4 {
  padding: 15px;
  color: var(--primary-color);
  transition: all 0.4s;
}
.extra-curricular h5 {
  padding: 15px;
  color: var(--light-color);
  transition: all 0.4s;
}
.extra-curricular p {
  padding: 15px;
  transition: all 0.4s;
}
.extra-curricular li:hover ul{
  padding: 2px;
}
.extra-curricular li:hover h4{
  color: var(--primary-color);
}
.extra-curricular li:hover h5{
  color: var(--light-color);
}
.extra-c li:hover p{
  letter-spacing: 2px;
  color: var(--contrast-color);
  background-color: var(--primary-color);
}
/* End Extra-Curricular */
/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 2px ridge var(--contrast-color);
  border: 1px ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color); background-color: var(--light-color);
  padding: 10%;
  transition: all 0.4s;
}
.projects h1 {
  padding: 15px;
  color: var(--contrast-color);
  transition: all 0.4s;
}
.work-experience ul {
  color: var(--contrast-color);
  transition: all 0.4s;
}
.projects p {
  padding: 15px;
  transition: all 0.4s;
}
.projects p a{
  color: var(--contrast-color);
  transition: all 0.4s;
}
.projects p a:hover{
  color: var(--light-color);
}
.projects li:hover ul{
  padding: 2px;
}
.projects li:hover p{
  letter-spacing: 2px;
  color: var(--light-color);
  background-color: var(--primary-color);
}
/* End Work-Projects */
/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 1px ridge var(--contrast-color);
  box-shadow: 0 2px 10px var(--contrast-color);background-color: var(--contrast-color);
  padding: 10% ;
  transition: all 0.4s;
}
.contact-info{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact h1 {
  padding: 15px;
  color: var(--light-color);
  transition: all 0.4s;
}
.dp img{
  width: max-content;
  padding: 15px;
  padding-right:5vw;
}
.contact ul {
  color: var(--light-color);
  transition: all 0.4s;
}
.contact h5 {
  padding: 15px;
  color: var(--light-color);
  transition: all 0.4s;
}
.contact p {
  padding: 15px;
  transition: all 0.4s;
  text-decoration: none;
  color: var(--light-color);
}
.contact p a{
  color: var(--light-color);
}
.contact p a:hover{
  color: var(--primary-color);
  letter-spacing: 2px;
}


/* End Contact */

/* End Main */

@media screen and (max-width: 600px) {
  /* Nav */
  .nav {
    position: fixed;
    background-color: #fff;
    height: 10vh;
  }
  .nav-container {
    display: flex;
  }
  /* Logo */
  .logo {
    color: var(--contrast-color);
    font-size: 12px;
    text-transform: uppercase;
  }
  /* End Logo */
  /* Nav-Link */
  .link {
    width: 100%;
    margin: 0;
    padding: 0;
    transform: translateX(150%);
    transition: all 0.4s;
  }
  .link ul {
    background-color: var(--contrast-color);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    transform: translateY(140px);
    position: relative;
    border: 2px ridge var(--contrast-color);
    padding-right: 150%;
    padding-left: 10%;
    border-radius: 25px;
    font-size: 15px;
  }
  .link ul li {
    transform: translateX(100%);
    transform: translateX(-2px)
    ;
  }
  .link a {
    color: var(--light-color);
    cursor: pointer;
    transition: all 0.4s;
  }
  /* Nav Hamburger-Icon */
  .ham {
    border: none;
    background: transparent;
    color: var(--secondary-color);
    font-size: 20px;
    cursor: pointer;
    display: block;
    transform: translateX(-15px);
  }
  .ham img {
    width: 25px;
  }
  .showmenu {
    transform: translateX(0);
    transition: all 0.4s;
  }
  /* End Nav Hamburger-Icon */
  /* End Nav-Link */
  /* End Nav */
  /* Main */
  main {
    display: block;
  }
  /* Hero */
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    padding: 15% 15% 10% 15%;
  }
  /* Hero-Description */
  .desc {
    padding: 10% 15% 10% 15%;
    text-align: justify;
    font-size: 14px;
  }
  /* End Hero-Description */
  /* Hero-Image */
  .code-img img {
    width: 250px;
  }
  /* End Hero-Image */
  /* End Hero */
  /* Personal Summery */
  .personal-summery {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .personal-summery h1 {
    font-size: 26px;
  }
  .personal-summery p {
    font-size: 14px;
  }
  /* End Personal Summery*/
  /* Skills */
  .skills {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .skills h1 {
    font-size: 26px;
  }
  .skills h4 {
    font-size: 16px;
  }
  .skills p {
    font-size: 14px;
  }
  /* End Skills */
   /* Work-Experience */
   .academic {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .academic h1 {
    font-size: 26px;
  }
  .academic h4 {
    font-size: 16px;
  }
  .academic h5 {
    font-size: 15px;
  }
  .academic p {
    font-size: 14px;
  }
  /* End Work-Experience*/
  /* Work-Experience */
  .work-experience {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .work-experience h1 {
    font-size: 26px;
  }
  .work-experience h4 {
    font-size: 16px;
  }
  .work-experience h5 {
    font-size: 15px;
  }
  .work-experience p {
    font-size: 14px;
  }
  /* End Work-Experience*/
  /* Extra-Curricular */
  .extra-curricular {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .extra-curricular h1 {
    font-size: 26px;
  }
  .extra-curricular h4 {
    font-size: 16px;
  }
  .extra-curricular h5 {
    font-size: 15px;
  }
  .extra-curricular p {
    font-size: 14px;
  }
  /* End Extra-Curricular */
    /* Projects */
    .projects {
      align-items: center;
      justify-content: center;
      align-content: center;
    }
    .projects h1 {
      font-size: 26px;
    }
    .projects p {
      font-size: 14px;
    }
    /* End Projects */
     /* Contact */
  .contact {
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .contact-info{
    display:contents;
  }
  .contact h1 {
    font-size: 26px;
  }
  .dp img{
    width: 40vw;
    padding: 15px;
  }
  .contact h5 {
    font-size: 15px;
  }
  .contact p {
    font-size: 14px;
  }
  /* End Contact */
  /* End Main */
}
